.headband-section {
    max-width: 1560px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 4px;
}